@font-face{
	font-family: "Montserrat";
	src: url(../fonts/Monstserrat/Montserrat-Regular.ttf) format('ttf');
}

@font-face{
	font-family: "Nunito Sans";
	src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf) format('ttf');
}

@font-face{
	font-family: "Work Sans";
	src: url(../fonts/WorkSans/WorkSans-Regular.ttf) format('ttf');
}