
/*global*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul{
	padding-left: 0;
	list-style-type: none; 
}
a{
	text-decoration: none;
}
.clearfix:before , .clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}

/*header*/
#header{
	background-color: #fff;
	padding: 40px 0;
}
.logo{
	float: left;
	cursor: pointer;
}
.navigation{
	float: right;
}
.navigation li{
	float:left;
	margin-left: 30px; 
}
.navigation li a{
	font-family: Montserrat;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color:#191919;
}
.navigation li a.active , .navigation li a:hover{
	color: #10c9c3;
}
/*/header*/


/*aboutMe*/
#aboutMe{
	background-color: #f6f6f6;
	text-align: center;
	padding: 100px 0;
	font-family: "Nunito Sans";
}
#aboutMe h1{
	color: #171717;
	font-weight: bold;
	font-size: 38px;
	margin-bottom: 40px;
}
#aboutMe p{
	font-size: 18px;
	color: #787878;
	line-height: 1.6em;
}
/*/aboutMe*/

/*works*/
.works_item{
	width: 25%;
	padding: 150px 0;
	float: left;
	cursor: pointer;
}
.works .dark{
	background-color: #838383;
}
.works .light{
	background-color: #ddd; 
}
.works_item:hover{
	background:url(../images/eye.png) no-repeat center center , rgba(33,191,185,.85);
}

/*/works*/


/*myself*/
#myself{
	background-color: #3e3e3e;
	text-align: center;
	padding: 100px 0;
}
#myself h1{
	font-family: "Montserrat";
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 40px
}
#myself p{
	font-famiy: "Nunito Sans";
	font-size: 18px;
	color: #fff;
	line-height: 1.6em;
}
/*/myself*/

/*achievements*/
#achievs{
	background-color: #10c9c3;
	padding: 90px 0;
}
.achievsItem{
	float: left;
	margin-right: 100px;
}
.achievsText{
	float: right;
	margin-left: 25px;
	font-family: "Montserrat";
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.7em;
}

/*/achievements*/

/*introduce*/
#introduce{
	overflow: hidden;
}
.photo{
	width: 50%;
	float:left;
	background-color: #e1e1e1;
}
.inf{
	width: 50%;
	float:right;
	background-color: #f5f5f5;
	padding: 120px 130px 130px 70px;
}
.inf h2{
	font-family: "Montserrat";
	font-size: 30px;
	color: #171717;
	margin-bottom: 35px;
}
.inf p{
	font-family: "Nunito Sans";
	font-size: 16px;
	color: #787878;
	margin-bottom: 20px;
}
/*/introduce*/

/*project*/
#project{
	text-align: center;
	padding: 95px;
}
#project h2{
	font-family: "Montserrat";
	font-size: 30px;
	color: #1d1d1d;
	margin-bottom: 40px;
}
#project p{
	font-family: "Nunito Sans";
	font-size: 16px;
	color: #787878;
	line-height: 1.6em;
	margin-bottom: 40px;
}
#project .button{
	font-family: "Montserrat";
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	background-color: #10c9c3;
	padding: 18px 50px;
}
/*/project*/

/*footer*/

#footer{
	background-color: #141414;
	color: #bcbcbc;
	padding: 90px 0;
	font-family: "Nunito Sans";
	font-size: 15px;
}
.copy , .email  {
	float: left;
}
.footerNav{
	float:right;
}
.list_1 , .list_2{
	float:left;
}
.list_icons{
	float: right;
	margin-left: 140px;
}
.list_2{
	margin-left: 50px;
}
.copy{
	margin-right: 230px;
}
.copy h4{
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}

.footerNav li{
	margin-bottom: 10px;
}
.footerNav li a{
	font-family: "Nunito Sans";
	font-size: 15px;
	color: #bcbcbc;
}
.footerNav li a:hover{
	color: #10c9c3;
}

/*/footer